.icon-container{
      width: 20%;
        height: 80%;
        background-color:  rgba(21,29,50,0.2);
        margin-left: 1.5%;
        margin-right: 1%;
        display: flex;
        justify-content: center;
        align-items:  center;
        cursor: pointer;
       
      }
.icon-container:hover{
  background-color:  rgba(21, 29, 50, 0.6);
    
}