
h1{
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}

.header-container{position: -webkit-sticky;
align-items: center;
position: sticky;
top: 0;
z-index: 100;
}

.card-right-container{
  display: flex;
  flex-direction: row;
  height: 40%;
  justify-content: space-around;
  margin: "10%";
  width: 100%;
}

.card-left-container{ 
  flex-direction: column;
  display: flex  ;
  justify-content: first baseline;
  align-items: center;

}

.text-style{
  color: rgb(183, 183, 184,0.2);
  text-align: "center";
  font-weight: 600;
}

.middle-component-container{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -8%;
}

.pie-char-container{ 
  display: flex;
  flex-direction: row;
  padding-top: 10% ;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  /* background: -webkit-linear-gradient(left,rgba(22,22,36),rgba(22,22,36)); */
  background:rgba(22,22,36,0.96);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}



/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
}